<h2>Sign up</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

  <%= f.text_field :name, autofocus: true, autocomplete: "name" %>

  <%= f.select :user_type, options_for_select(['admin', 'vendor', 'user']) %>

  <% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br />
  <%= f.password_field :password, autocomplete: "new-password" %>

  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

  <% gibbon = Gibbon::Request.new(api_key: "486d3d12cc746c2c9cc5200846859494-us20") %>

  <% gibbon.lists(list_id).members.create(body: {email_address: :email, status: "subscribed", merge_fields: {FNAME: "Bob", LNAME: "Smith"}})
  %>

  <%= f.submit "Sign up" %>

<% end %>

<%= render "devise/shared/links" %>
