
<div class="container-fluid p-0">
  <div class="row img">
    <div class="col-md-12">
      <div class="index-heading">
        <h1 class="text-center index-heading-text">
          World’s Premier Cannabis Marketplace
        </h1>
        <p class="text-center index-heading-text">NuggPlug is the Safest, most convienient 420-platform that offers our users access top hundreds of the top Cannabis brands in the world</p>
        <p class="text-center index-heading-text"> We only list 100% trusted, verified businesses in the worldwide Cannabis industry to ensure that all of our members recieve nothing but the highest quality</p>
      </div>
      <div class="type-header">
      <%= render "stores/search" %>
      </div>
      <div class="type-header">
        <h2 class="text-center">
          Featured Brands
        </h2>
        <p class="text-center">
          Check out our latest Cannabis brands and top choices from our 420 experts
        </p>
      </div>
        <div class="flexslider">
        <ul class="slides">
          <% @store.each do |p| %>
            <li class="slide">
              <%= link_to p.name, store_path(p) %>
              <br>
              <%= p.city %>, <%= p.state %>
              <br>
              <p>````</p>
              <br>
              <p>````</p>
            </li>
          <% end %>
        </ul>
      </div>
        <h3 class="text-center index-vendor">
          <%= link_to "Advertise your business on NuggPlug!", vendor_path, :class => "b2" %>
        </h3>
      <div class="type-header">
        <h2 class="text-center">
          Dispensaries
        </h2>
      </div>
      <div class="flexslider">
        <ul class="slides">
          <% @store.each do |p| %>
            <li class="slide">
              <%= p.name %>
              <br>
              <%= p.city %>, <%= p.state %>
              <br>
              <p>````</p>
              <br>
              <p>````</p>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="type-header">
        <h2 class="text-center">
          Delivery Services
        </h2>
      </div>
      <div class="flexslider">
        <ul class="slides">
          <% @store.each do |p| %>
            <li class="slide">
              <%= p.name %>
              <br>
              <%= p.city %>, <%= p.state %>
              <br>
              <p>````</p>
              <br>
              <p>````</p>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="questions">
        <h2>
          Do you have questions?  Get in touch.
        </h2>
      </div>
    </div>
  </div>
</div>