<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center show-header">
        <%= @store.name %>
      </h3>
      <p>
        <%= link_to "edit", edit_store_path(@store) %>
      </p>
      <div class="row">
        <div class="col-md-8">
          <div class="show-desc">
          <%= @store.description %>
          </div>
          <div class="show-items">
            <p>
              This is where the store items go
            </p>
            <p>
              <%= link_to "edit", new_product_path %>
            </p>
          </div>
          <div class="show-reviews">
            <% review = Review.where(:store_id => @store.id)%>
            <% review.each do |f| %>
            <div class="container-fluid">
              <div class="row">
                <h3>
                  <%= f.name %>
                </h3>
              </div>
              <div class="row">
                <p>
                  <%= f.comment %>
                </p>
              </div>
            </div>
              <% end %>

            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <form role="form">
                    <div class="form-group">
                      <%= simple_form_for(Review.new, html: { class: 'form-inline' }) do |f| %>
                        <%= f.input :comment %>
                        <%= f.hidden_field :store_id, :value => @store.id %>

                        <%= f.button :submit %>
                      <% end %>
                      <%= link_to "review", new_review_path %>
                    </div>
                  </form>
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="col-md-4">
          <div class="show-address">
            <h4>
              <%= @store.address%>
            </h4>
            <h4>
              <%= @store.city %> <%= @store.state %>, <%= @store.zip %>
            </h4>
          </div>
          <div class="show-open">
            <h5><b>Store Hours</b></h5>
            <div class="row">
              <div class="col-md-4">
                <p><b>Monday</b></p>
                <p><b>Tuesday</b></p>
                <p><b>Wednesday</b></p>
                <p><b>Thursday</b></p>
                <p><b>Friday</b></p>
                <p><b>Saturday</b></p>
                <p><b>Sunday</b></p>
              </div>
              <div class="col-md-8">
                <div class="show-hours">
                  <% if @store.mon_closed.nil? %>
                    <%= "Hours Unknown" %>
                  <% else %>
                    <% if @store.mon_closed == true %>
                      <%= "Closed" %>
                    <% else %>
                      <%= @store.mon_open.strftime("%I:%M %p")%> - <%= @store.mon_end.strftime("%I:%M %p") %>
                    <% end %>
                  <% end %>
                </div>
                <div class="show-hours">
                  <% if @store.tues_closed.nil? %>
                    <%= "Hours Unknown" %>
                  <% else %>
                    <% if @store.tues_closed == true %>
                      <%= "Closed" %>
                    <% else %>
                      <%= @store.tues_open.strftime("%I:%M %p")%> - <%= @store.tues_end.strftime("%I:%M %p") %>
                    <% end %>
                  <% end %>
                </div>
                <div class="show-hours">
                  <% if @store.wed_closed.nil? %>
                    <%= "Hours Unknown" %>
                  <% else %>
                    <% if @store.wed_closed == true %>
                      <%= "Closed" %>
                    <% else %>
                      <%= @store.wed_open.strftime("%I:%M %p")%> - <%= @store.wed_end.strftime("%I:%M %p") %>
                    <% end %>
                  <% end %>
                </div>
                <div class="show-hours">
                  <% if @store.wed_closed.nil? %>
                    <%= "Hours Unknown" %>
                  <% else %>
                    <% if @store.thurs_closed == true %>
                      <%= "Closed" %>
                    <% else %>
                      <%= @store.thurs_open.strftime("%I:%M %p")%> - <%= @store.thurs_end.strftime("%I:%M %p") %>
                    <% end %>
                  <% end %>
                </div>
                <div class="show-hours">
                  <% if @store.wed_closed.nil? %>
                    <%= "Hours Unknown" %>
                  <% else %>
                    <% if @store.fri_closed == true %>
                      <%= "Closed" %>
                    <% else %>
                      <%= @store.fri_open.strftime("%I:%M %p")%> - <%= @store.fri_end.strftime("%I:%M %p") %>
                    <% end %>
                  <% end %>
                </div>
                <div class="show-hours">
                  <% if @store.wed_closed.nil? %>
                    <%= "Hours Unknown" %>
                  <% else %>
                    <% if @store.sat_closed == true %>
                      <%= "Closed" %>
                    <% else %>
                      <%= @store.sat_open.strftime("%I:%M %p")%> - <%= @store.sat_end.strftime("%I:%M %p") %>
                    <% end %>
                  <% end %>
                </div>
                <div class="show-hours">
                  <% if @store.wed_closed.nil? %>
                    <%= "Hours Unknown" %>
                  <% else %>
                    <% if @store.sun_closed == true %>
                      <%= "Closed" %>
                    <% else %>
                      <%= @store.sun_open.strftime("%I:%M %p")%> - <%= @store.sun_end.strftime("%I:%M %p") %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="show-map">
          <h3>this is where the map view goes</h3>
          <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
        </div>
      </div>


      </div>
    </div>
  </div>
</div>
</div>
<p>
