

<div class="container-fluid show-container">
  <div class="row">
    <div class="col-md-12">
      <ul class="flex-container">
        <div class="flex-item">
          <div class="flex-item show-header" style="background-image: url(<%= asset_url(@store.image)%>); background-repeat: no-repeat; background-position: center; background-size: cover">
            <h2 class="text-center">
              <%= @store.name %>
            </h2>
            <ul class="header-flex-container space-around">
              <h5 class="flex-item store-header-text">
                <%= octicon "device-mobile", :height => 15,  :class => "right left", :"aria-label" => "hi" %> <%= number_to_phone(@store.phone_1) %>
              </h5>
              <li class="flex-item store-header-text">
                <h5 class="text-right">
                  <%= @store.website %>
                </h5>
              </li>
              <li class="flex-item store-header-text">
                <h5 class="text-right">
                  <%= social_share_button_tag('Check out this store!', :url => store_path(@store), desc: @store.name) %>
                </h5>
              </li>
            </ul>
              <p class="flex-item">
                <% if user_signed_in? %>
                 <% if current_user.id == @store.user_id %>
                  <%= link_to "edit store", edit_store_path(@store) %>
                <% end %>
                <% end %>
              </p>
            </div>
          </div>
        </ul>
      </ul>
    </div>
  </div>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <ul class="flex-container column">
        <div class="flex-item">
          <div class="show-desc">
            <%= @store.description %>
          </div>
        </div>
        <div class="flex-item show-items">
          <%= render "stores/partials/products" %>
        </div>
        <div class="flex-item">
          <div class="show-reviews">
            <%= render "stores/partials/reviews" %>
          </div>
        </div>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="flex-container column">
        <div class="flex-item">
          <div class="show-address">
            <h4>
              <%= @store.address%>
            </h4>
            <h4>
              <%= @store.city %> <%= @store.state %>, <%= @store.zip %>
            </h4>
          </div>
        </div>
        <div class="flex-item">
          <div class="show-open">
            <%= render "stores/partials/store_hours" %>
          </div>
        </div>
        <div class="flex-item">
          <div class="show-reviews">
            <div class="show-map">
              <% @coord = [@store.address, @store.city, @store.state, @store.zip, @store.country].compact.join(', ')%>
              <% results = Geocoder.search(@coord) %>
              <% @lat = results.first.latitude %>
              <% @lng = results.first.longitude %>

              <div style='width: 400px;'>
                <div id="map" style='width: 320px; height: 320px;'></div>
              </div>

              <script type="text/javascript">

                  handler = Gmaps.build('Google');

                  var lat = '<%= @lat %>'
                  var lng = '<%= @lng %>'

                  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
                      markers = handler.addMarkers([
                          {
                              "lat": lat,
                              "lng": lng,
                              "picture": {
                                  "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
                                  "width":  32,
                                  "height": 32
                              },
                              "infowindow": "hello!"
                          }
                      ]);
                      handler.bounds.extendWith(markers);
                      handler.fitMapToBounds();
                  });
              </script>

            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>