<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="show-header">
          <h3 class="text-center">
            <%= @store.name %>
          </h3>
          <h5 class="text-center">
            <%= @store.website %>
          </h5>
          <div class="">
            <p class="text-left">
              <%= @store.address %>, <%= @store.area_code %>-<%= @store.phone_1 %>-<%= @store.phone_2 %>
              <% if current_user.id == @store.user_id %>
               <%= link_to "edit store", edit_store_path(@store) %>
                <% end %>
            </p>
            <p class="text-right">
              review paceholder
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="show-desc">
          <%= @store.description %>
          </div>
          <div class="show-items">
            <p>
              <%= render "stores/partials/products" %>
            </p>
            <% if current_user.id == @store.user_id %>
              <%= link_to "edit products", add_product_path(@store) %>
            <% end %>
          </div>
          <div class="show-reviews">
            <%= render "stores/partials/reviews" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="show-address">
            <h4>
              <%= @store.address%>
            </h4>
            <h4>
              <%= @store.city %> <%= @store.state %>, <%= @store.zip %>
            </h4>
          </div>
          <div class="show-open">
            <%= render "stores/partials/store_hours" %>
          </div>
          <div class="show-map">
          <h3>this is where the map view goes</h3>
          <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
<p>
