<div class="container-fluid vendor-container">
  <div class="row">
    <div class="col-md-12">
      <ul class="flex-container">
        <div class="flex-item">
          <div class="vendor-header">
            <h2 class="flex-item text-center vendor-header-text">
              Join our online community
            </h2>
            <p class="text-center vendor-header-text">
              We started NuggPlug to bring together cannabis enthusiasts from around the world through a safe, secure platform. Whether you are a patient, recreational user or 420-friendly business or grower, we want you to be a NuggPlug member!
            </p>
          </div>
          <div class="vendor-body text-center">
            <h2>
              How it Works
            </h2>
            <hr class="vendor-hr">
            <p>
              Our 3-step process makes it incredibly easy to get more eyes on your 420 brand
            </p>
          </div>
          <div class="header-flex-container space-around vendor-body">
            <div class="col-sm-4 text-center vendor-card">
              <div class="vendor-icon">
                <%= octicon "zap", :height => 55,  :class => "right left", :"aria-label" => "hi" %>
              </div>
              <h4>
                Sign Up
              </h4>
              <p>
                Register for your NuggPlug account
              </p>
            </div>
            <div class="col-sm-4 text-center vendor-card">
              <div class="vendor-icon">
                <%= octicon "location", :height => 55,  :class => "right left", :"aria-label" => "hi" %>
              </div>
              <h4>
                Make a Listing
              </h4>
              <p>
                Our easy-to-use listing service takes just minutes
              </p>
            </div>
            <div class="col-sm-4 text-center vendor-card">
              <div class="vendor-icon">
                <%= octicon "smiley", :height => 55,  :class => "right left", :"aria-label" => "hi" %>
              </div>
              <h4>
                Generate Clients
              </h4>
              <p>
                People from around the world can now see your business
              </p>
            </div>
          </div>
          <div class="vendor-body text-center ">
            <td>
              <% if user_signed_in? %>
                <%= link_to "Join Today!", new_store_path, :class => "b1" %>
              <% else %>
                <%= link_to "Join Today!", new_user_session_path, :class => "b1" %>
              <% end %>
            </td>
            <h4 class="vendor-membership trial">
              Enjoy a free, no obligation 30 day trial.
            </h4>
          </div>
          <div class="vendor-body text-center ">
            <h2>
              Our Flexible Membership Packages
            </h2>
            <hr class="vendor-hr">
            <p class="vendor-membership">
              To meet the needs of all our Cannabis industry partners, we have developed three unique membership packages.
            </p>
            <%= render "stores/partials/packages" %>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>