<%= bootstrap_form_for(@store, html: { class: 'form-inline' }) do |f| %>
  <div class="container-fluid">
  <div class="row">
    <div class="new-heading">
      <div class="col-md-4">
        <h3 class="text-center">
          Store Information
        </h3>
      </div>
      <div class="col-md-4">
        <h3 class="text-center">
          Store Hours
        </h3>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <div class="new-form">
            <%= f.text_field :name %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="new-form">
            <%= f.text_field :website %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="new-form">
            <%= f.email_field :email %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="new-form">
            <%= f.text_field :address %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="new-form">
            <%= f.text_field :city %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="new-form">
            <%= f.text_field :state, {label: "State or providence"} %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="new-form">
            <%= f.text_field :zip, {label: "Zip or postal code"} %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="new-form">
            <%= f.select :country, [["United States"], ["Canada"]] %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="new-form">
            <%= f.phone_field :phone_1, label: "Phone" %>
          </div>
          <br>
          <div class="new-form">
            <%= f.text_area :description %>
          </div>
          <br>
          <div class="new-form">
            <%= f.file_field :image %>
          </div>
          <div class="new-form">
            <%= f.file_field :thumb, label: "thumbnail" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="new-form">
            <%= f.select :store_type, [["brand"], ["dispensary"], ["delivery"], ["service"]] %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <div class="new-time">
            <%= f.time_select :mon_open, {minute_step: 30} %>
          </div>
          <div class="new-time">
            <%= f.time_select :tues_open, {minute_step: 30} %>
          </div>
          <div class="new-time">
            <%= f.time_select :wed_open, {minute_step: 30} %>
          </div>
          <div class="new-time">
            <%= f.time_select :thurs_open, {minute_step: 30} %>
          </div>
          <div class="new-time">
            <%= f.time_select :fri_open, {minute_step: 30}%>
          </div>
          <div class="new-time">
            <%= f.time_select :sat_open, {minute_step: 30} %>
          </div>
          <div class="new-time">
            <%= f.time_select :sun_open, {minute_step: 30} %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="new-time">
            <%= f.time_select :mon_end, {label: "Mon Close", minute_step: 30} %>
          </div>
          <div class="new-time">
            <%= f.time_select :tues_end, {label: "Tues Close", minute_step: 30} %>
          </div>
          <div class="new-time">
            <%= f.time_select :wed_end, {label: "Wed Close", minute_step: 30}%>
          </div>
          <div class="new-time">
            <%= f.time_select :thurs_end, {label: "Thurs Close", minute_step: 30}%>
          </div>
          <div class="new-time">
            <%= f.time_select :fri_end, {label: "Fri Close", minute_step: 30} %>
          </div>
          <div class="new-time">
            <%= f.time_select :sat_end, {label: "Sat Close", minute_step: 30} %>
          </div>
          <div class="new-time">
            <%= f.time_select :sun_end, {label: "Sun Close", minute_step: 30} %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="new-closed">
            <%= f.check_box :mon_closed %>
          </div>
          <div class="new-closed">
            <%= f.check_box :tues_closed %>
          </div>
          <div class="new-closed">
            <%= f.check_box :wed_closed %>
          </div>
          <div class="new-closed">
            <%= f.check_box :thurs_closed %>
          </div>
          <div class="new-closed">
            <%= f.check_box :fri_closed %>
          </div>
          <div class="new-closed">
            <%= f.check_box :sat_closed %>
          </div>
          <div class="new-closed">
            <%= f.check_box :sun_closed %>
          </div>
        </div>
      </div>
    </div>
    <div class="new-store-btn">
      <button type="submit" class="btn btn-primary">
        Submit
      </button>
    </div>
  </div>
</div>
<% end %>