<%= bootstrap_form_for(@item, local: true) do |f|%>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <form role="form">
          <div class="form-group">
            <%= f.text_field :name %>
            <%= f.text_area :description %>
            <%= f.text_field :price %>

            <%= f.submit %>
          </div>
        </form>
      </div>
    </div>
  </div>
<% end %>